.#{$namespace} {
  &-input {
    @include body1;
    @include transition(all 0.2s ease);
    height: 40px;
    color: $gray800;
    padding: 0 16px;
    border: 1px solid $input-border-color;
    box-shadow: none;
    @include border-radius(2px);
    cursor: pointer;

    &::placeholder {
      color: $gray300;
    }
  }

  &-icon {
    &-clear, &-calendar {
      right: 16px;
      cursor: pointer;
    }
  }

  &-datepicker-main {
    border-radius: 2px;
    .today {
      color: $primary;
      &:hover {
        color: $primary;
      }
    }
  }
}
