@import "common";
.c-popover {
  .c-popover_inner {
    padding: 0 !important;
    .popover_contents_wrapper {
      padding: 6px 0;
      a {
        display: inline-block;
      }
      & > * {
        padding: 6px 12px;
        cursor: pointer;
      }
      & > *:hover {
        background: $gray100;
      }
    }
  }
}
