.quill-editor {
  border: 1px solid $input-border-color;
  color: rgba(0, 0, 0, 1);

  &:hover {
    border-color: $input-hover-border-color;

    .ql-toolbar.ql-snow ,
    .ql-snow .ql-tooltip,
    .ql-snow .ql-tooltip input[type=text],
    .ql-snow .ql-tooltip a.ql-action::after,
    .ql-toolbar.ql-snow,
    .ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-label,
    .ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-options {
      border-color: $input-hover-border-color;
    }
  }
}

.ql-editor {
  line-height: 150%;
  min-height: 100px;
  padding: 0;
  color: $gray800;
  @include body1;

  &-content {
    min-height: auto;
    height: auto;
  }

  &.ql-blank::before {
    color: $gray300;
    font-style: normal;
    left: 16px;
    padding: 0;
    right: auto;
  }

  ol, ul {
    padding-left: 0;
  }

  li.ql-indent-1:not(.ql-direction-rtl) {
    padding-left: 2.7em;
  }
  li.ql-indent-1.ql-direction-rtl.ql-align-right {
    padding-right: 2.7em;
  }

  li.ql-indent-2:not(.ql-direction-rtl) {
    padding-left: 3.9em;
  }
  li.ql-indent-2.ql-direction-rtl.ql-align-right {
    padding-right: 3.9em;
  }

  li.ql-indent-3:not(.ql-direction-rtl) {
    padding-left: 5.1em;
  }
  li.ql-indent-3.ql-direction-rtl.ql-align-right {
    padding-left: 5.1em;
  }

  li.ql-indent-4:not(.ql-direction-rtl) {
    padding-left: 6.3em;
  }
  li.ql-indent-4.ql-direction-rtl.ql-align-right {
    padding-left: 6.3em;
  }

  li.ql-indent-5:not(.ql-direction-rtl) {
    padding-left: 7.5em;
  }
  li.ql-indent-5.ql-direction-rtl.ql-align-right {
    padding-left: 7.5em;
  }

  li.ql-indent-6:not(.ql-direction-rtl) {
    padding-left: 8.7em;
  }
  li.ql-indent-6.ql-direction-rtl.ql-align-right {
    padding-left: 8.7em;
  }

  li.ql-indent-7:not(.ql-direction-rtl) {
    padding-left: 9.9em;
  }
  li.ql-indent-7.ql-direction-rtl.ql-align-right {
    padding-left: 9.9em;
  }

  li.ql-indent-8:not(.ql-direction-rtl) {
    padding-left: 11.1em;
  }
  li.ql-indent-8.ql-direction-rtl.ql-align-right {
    padding-left: 11.1em;
  }

  li.ql-indent-9:not(.ql-direction-rtl) {
    padding-left: 11.1em;
  }
  li.ql-indent-9.ql-direction-rtl.ql-align-right {
    padding-right: 11.1em;
  }
}

.ql-container {
  font-size: 16px;
}


/*
  quill.snow.css - custom style
 */
.ql-snow {
  a {
    color: $primary;
    text-decoration: underline;
  }

  .ql-picker.ql-header {
    width: 65px;

    .ql-picker-item:before,
    .ql-picker-label:before {
      content: '본문1';
      position: relative;
    }
    .ql-picker-item[data-value='1']:before,
    .ql-picker-label[data-value='1']:before {
      content: '제목1';
    }
    .ql-picker-item[data-value='2']:before,
    .ql-picker-label[data-value='2']:before {
      content: '제목2';
    }
    .ql-picker-item[data-value='3']:before,
    .ql-picker-label[data-value='3']:before {
      content: '제목3';
    }
    .ql-picker-item[data-value='5']:before,
    .ql-picker-label[data-value='5']:before {
      content: '본문2';
    }
    .ql-picker-item[data-value='6']:before,
    .ql-picker-label[data-value='6']:before {
      content: '캡션';
    }
  }

  .ql-tooltip {
    border: 1px solid $input-border-color;
    box-shadow: 0 0 5px #ddd;

    input[type=text] {
      border-color: $input-border-color;
    }

    a.ql-action::after {
      border-color: $input-border-color;
    }
  }
}

.ql-toolbar.ql-snow {
  border: none;
  border-bottom: 1px solid $input-border-color;
  box-sizing: border-box;
  padding: 8px 0;

  .ql-picker.ql-expanded {
    .ql-picker-label {
      border-color: $input-border-color;
    }

    .ql-picker-options {
      border-color: $input-border-color;
    }
  }

  .ql-formats {
    margin-right: 5px;
  }
}

.ql-container.ql-snow {
  border: none;
  padding: 16px;
}
