// Gray
$black: #000000;
$gray900: #040505;
$gray850: #202325;
$gray800: #3C4144;
$gray700: #595F63;
$gray600: #767D82;
$gray500: #949BA0;
$gray400: #ADB3B8;
$gray300: #CFD4D7;
$gray250: #E1E4E6;
$gray200: #EAECEE;
$gray100: #F3F4F5;
$gray000: #FCFCFC;
$white: #FFFFFF;

// Primary
// Blue
$blue800: #1B5192;
$blue600: #2A7DE1;
$blue400: #6EA7EB;
$blue100: #D4E5F9;
$blue000: #F7FAFE;

// Success
// Green
$green800: #038542;
$green600: #04CD66;
$green400: #54DD97;
$green100: #CDF5E0;
$green000: #F5FDF9;

// Error
// Red
$red800: #971818;
$red600: #E92525;
$red400: #F06B6B;
$red100: #FBD3D3;
$red000: #FEF6F6;

// Secondary
// Orange
$orange800: #CF5310;
$orange600: #EE7E41;
$orange400: #F3A77E;
$orange100: #FCE5D9;
$orange000: #FEFAF7;

// Secondary
// Yellow
$yellow600: #FFD700;
$yellow400: #FFE452;
$yellow100: #FFF7CC;
$yellow000: #FFFDF5;

$primary: $blue600;
$success: $green600;
$error: $red600;
$secondary: $orange600;
$link: $blue600;

$border-color: $gray200;
$input-border-color: $gray250; // Input, Select, Textarea, TextField
$input-hover-border-color: $gray400 // Input, Select, Textarea, TextField
