// Gray
$black: #000000;
$gray900: #040505;
$gray850: #202325;
$gray800: #3c4144;
$gray700: #595f63;
$gray600: #767d82;
$gray500: #949ba0;
$gray400: #adb3b8;
$gray300: #cfd4d7;
$gray250: #e1e4e6;
$gray200: #eaecee;
$gray100: #f3f4f5;
$gray050: #f7f8f8;
$gray000: #fcfcfc;
$white: #ffffff;

// Primary
// Blue
$blue800: #1b5192;
$blue600: #2a7de1;
$blue400: #6ea7eb;
$blue100: #d4e5f9;
$blue050: #e9f2fc;
$blue000: #f7fafe;

// Success
// Green
$green800: #038542;
$green600: #04cd66;
$green400: #54dd97;
$green100: #cdf5e0;
$green050: #e5faef;
$green000: #f5fdf9;

// Error
// Red
$red800: #971818;
$red600: #e92525;
$red400: #f06b6b;
$red100: #fbd3d3;
$red050: #fde8e8;
$red000: #fef6f6;

// Secondary
// Orange
$orange800: #cf5310;
$orange600: #ee7e41;
$orange400: #f3a77e;
$orange100: #fce5d9;
$orange050: #fdf2eb;
$orange000: #fefaf7;

// Secondary
// Yellow
$yellow600: #ffd700;
$yellow400: #ffe452;
$yellow100: #fff7cc;
$yellow050: #fffbe5;
$yellow000: #fffdf5;

$primary: $blue600;
$light-primary: $blue100;
$success: $green600;
$error: $red600;
$info: $gray600;
$secondary: $orange600;
$yellow: $yellow600;
$link: #006beb;

$border-color: $gray200;
$input-border-color: $gray250; // Input, Select, Textarea, TextField
$input-hover-border-color: $gray400; // Input, Select, Textarea, TextField
$button-transparent-hover-background-color: rgba(255, 255, 255, 0.2);
