@import "mixins";
@import "variables";
@import "fonts";

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

body {
  @include selection($body-selection); // 드래그 색상
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, header, footer, section, article, aside, div {
  @include user-select($div-user-select);
}
