
$screen-xs:       480px;
$screen-sm:       768px;
$screen-md:       992px;
$screen-lg:       1140px;
$iphone:          320px;
$phone:           $screen-xs; // 480px

$container-max-width-pc: 1140px;
$container-max-width-mobile: 375px;
$grid-outer-padding: 16px;
$grid-gutter-width-pc:       24px;
$grid-gutter-width-mobile:       16px;
$grid-columns-pc:            12;
$grid-columns-mobile:            4;

$container-width-pc: $container-max-width-pc - 2 * $grid-outer-padding;
$container-width-mobile: $container-max-width-mobile - 2 * $grid-outer-padding;
$grid-column-width-pc: ($container-width-pc - $grid-gutter-width-pc * ($grid-columns-pc - 1) ) / $grid-columns-pc;
$grid-column-width-mobile: ($container-width-mobile - $grid-gutter-width-mobile * ($grid-columns-mobile - 1) ) / $grid-columns-mobile;
$container-sm:            (1140px + $grid-gutter-width-pc);

//
//  # html
//
$html-overflow-y:        scroll;

$light:                  300;
$regular:                400;
$medium:                 500;
$semi-bold:              600;


//
//  # Selection
//
$body-selection:         10;
$body-user-select:       none;
$div-user-select:        text;

$alert-height:          56px;
$alert-height-mobile:   64px;

$topbar-height: 52px;