$namespace: 'c';
$primary-color: $primary;
$calendar-active-background-color: $primary-color;
$time-active-color: $primary-color;
$input-border-color: $input-border-color;
$input-hover-border-color: $gray400;
$disabled-background-color: $gray000;

@import '~vue2-datepicker/scss/index.scss';
@import 'datePicker.init';
