//Gray
$black: #000000;
$gray900: #151617;
$gray850: #21282F;
$gray800: #495057;
$gray700: #6F767D;
$gray600: #838990;
$gray500: #979CA2;
$gray400: #BEC2C6;
$gray300: #D2D5D8;
$gray200: #E8EAED;
$gray100: #F4F5F7;
$gray000: #FAFBFC;
$white: #FFFFFF;

//Green
$green800: #00992B;
$green600: #00C854;
$green400: #5CE596;
$green100: #DEFAEB;
$green000: #F7FCF9;

//Red
$red800: #CC2727;
$red600: #FA5252;
$red400: #FF8888;
$red100: #FFDFDF;
$red000: #FFF7F7;


//Blue
$blue800: #0074CC;
$blue600: #1E90FF;
$blue400: #7EC1FF;
$blue100: #D6EBFF;
$blue000: #F2FAFF;

//Yellow
$yellow700: #FFD500;
$yellow400: #FFEE7A;
$yellow100: #FFFACC;

// Primary
$primary: $green600;
$success: $blue600;
$error: $red600;
$gray: $gray600;
