@import "mixins";
@import "variables";
@import "fonts";

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  width: 100%;
  min-height: 100%;
  font-size: 10px;
  position: relative;

  @include pc {
    overflow-y: $html-overflow-y;
    scrollbar-3dLight-Color: $gray100;
    scrollbar-arrow-color: $gray200;
    scrollbar-base-color: $gray100;
    scrollbar-Face-Color: $gray200;
    scrollbar-Track-Color: $gray100;
    scrollbar-DarkShadow-Color: $gray100;
    scrollbar-Highlight-Color: $gray100;
    scrollbar-Shadow-Color: $gray100;

    /* Chrome, Safari용 스크롤 바 */
    ::-webkit-scrollbar {
      width: 8px;
      height: 8px;
      border: 3px solid #fff;
    }

    ::-webkit-scrollbar-track {
      background: $gray100;
      -webkit-border-radius: 10px;
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
    }

    ::-webkit-scrollbar-thumb {
      height: 50px;
      width: 50px;
      background: $gray200;;
      -webkit-border-radius: 8px;
      border-radius: 8px;
      -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, .1);
    }
  }
}

body {
  width: 100%;
  color: $gray800;
  font-family: $web-font-family;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  background-color: white;
  @include selection($body-selection);
  @include user-select($body-user-select);
}

html, body {
  overflow-x: hidden;
  width: 100%;
}

// 공통
a {
  color: $gray800;
  text-decoration: none;
  cursor: pointer;
}

ul {
  padding-left: 0;
  list-style: none;
}

em, address {
  font-style: normal;
}

fieldset {
  margin: 0;
  padding: 0;
  &, &:hover, &:focus {
    border: 0;
  }
}

input,
input[type="search"],
input[type="text"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  &:before,
  &:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}

input[disabled] {
  background-color: #eee;
}

select {
  -webkit-border-radius: 0; /* Safari 3-4, iOS 1-3.2, Android 1.6- */
  -moz-border-radius: 0; /* Firefox 1-3.6 */
  border-radius: 0;
}

header, footer, section, article, aside, div {
  @include user-select($div-user-select);
}