@import "color";
@import "flexbox";
@import "functions";

@mixin display1 {
  font-size: 48px;
  line-height: 120%;
  font-weight: $bold;
}
@mixin headline1 {
  font-size: 32px;
  line-height: 130%;
  font-weight: $bold;
}
@mixin headline2 {
  font-size: 28px;
  line-height: 130%;
  font-weight: $bold;
}
@mixin headline3 {
  font-size: 26px;
  line-height: 130%;
  font-weight: $bold;
}
@mixin headline4 {
  font-size: 24px;
  line-height: 125%;
  font-weight: $bold;
}
@mixin headline5 {
  font-size: 22px;
  line-height: 135%;
  font-weight: $normal;
}
@mixin headline6 {
  font-size: 18px;
  line-height: 135%;
  font-weight: $bold;
}
@mixin body1 {
  font-size: 16px;
  line-height: 150%;
  font-weight: $normal;
}
@mixin body2 {
  font-size: 14px;
  line-height: 150%;
  font-weight: $normal;
}
@mixin caption1 {
  font-size: 12px;
  line-height: 110%;
  font-weight: $light;
}
@mixin caption2 {
  font-size: 10px;
  line-height: 100%;
  font-weight: $light;
}
@mixin f-thin {
  font-weight: $thin;
}

@mixin f-light {
  font-weight: $light;
}

@mixin f-normal {
  font-weight: $normal !important;
}

@mixin f-medi {
  font-weight: $medi;
}

@mixin f-bold {
  font-weight: $bold;
}
@mixin clearfix {
  *zoom: 1;
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}

// 툴팁 등에 사용
@mixin shadow1 {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}
// 모바일 카드를 감싼 box 등에 사용
@mixin shadow2 {
  box-shadow: 0 5px 10px 1px rgba(0, 0, 0, 0.03);
}
// topbar, header 등에 사용
@mixin shadow3 {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}
// xlarge 버튼 등에 사용
@mixin shadow4 {
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.06);
}

@mixin transition($transition) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -ms-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}

@mixin transform($transform) {
  transform: $transform;
  -moz-transform: $transform;
  -ms-transform: $transform;
  -o-transform: $transform;
  -webkit-transform: $transform;
}

//  # cross-browsing

@mixin opacity($opacity) {
  opacity: $opacity;
  // IE8 filter
  $opacity-ie: ($opacity * 100);
  //filter: ~"alpha(opacity=${opacity-ie})";
}

//  # box, border, shadow, line
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin get-columns-width-pc($cols) {
  @include pc {
    -ms-flex: 0 0 calc(((100% - (#{$grid-gutter-width-pc} * (#{$grid-columns-pc} - 1))) / #{$grid-columns-pc} * #{$cols}) + #{$grid-gutter-width-pc} * (#{$cols} - 1));
    flex: 0 0 calc(((100% - (#{$grid-gutter-width-pc} * (#{$grid-columns-pc} - 1))) / #{$grid-columns-pc} * #{$cols}) + #{$grid-gutter-width-pc} * (#{$cols} - 1));
    max-width: calc(((100% - (#{$grid-gutter-width-pc} * (#{$grid-columns-pc} - 1))) / #{$grid-columns-pc} * #{$cols}) + #{$grid-gutter-width-pc} * (#{$cols} - 1));
  }
}

@mixin get-columns-width-mobile($cols) {
  @include mobile{
    -ms-flex: 0 0 calc(((100% - (#{$grid-gutter-width-mobile} * (#{$grid-columns-mobile}-1))) / #{$grid-columns-mobile} * #{$cols}) + #{$grid-gutter-width-mobile} * (#{$cols} - 1));
    flex: 0 0 calc(((100% - (#{$grid-gutter-width-mobile} * (#{$grid-columns-mobile}-1))) / #{$grid-columns-mobile} * #{$cols}) + #{$grid-gutter-width-mobile} * (#{$cols} - 1));
    max-width: calc(((100% - (#{$grid-gutter-width-mobile} * (#{$grid-columns-mobile}-1))) / #{$grid-columns-mobile} * #{$cols}) + #{$grid-gutter-width-mobile} * (#{$cols} - 1));
  }
}

@mixin inline-block() {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}

@mixin pc {
  @media only screen and (min-width: $screen-sm) { @content }
}

@mixin mobile {
  @media only screen and (max-width: $screen-sm) { @content }
}


@mixin placeholder {
  &::-webkit-input-placeholder { @content }
  &:-moz-placeholder           { @content }
  &::-moz-placeholder          { @content }
  &:-ms-input-placeholder      { @content }
  &::-ms-input-placeholder     { @content }
  &::placeholder               {
    @content;
    opacity: 1;
  }
}

@mixin ellipsis($clamp: 1, $word-break: keep-all) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $clamp;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  word-break: $word-break;
}

@mixin disabled {
  cursor: not-allowed !important;
  pointer-events: none;
}

@mixin selection($background) {
  @if is-number($background) {
    $color: inherit;
    $cursor: text;
    ::selection      {
      color: $color;
      background-color: darken(#FFF, $background);
      background-color: fade(#000, $background);
      cursor: $cursor;
    }
    ::-moz-selection {
      color: $color;
      background-color: darken(#FFF, $background);
      background-color: fade(#000, $background);
      cursor: $cursor;
    }
  } @else {
    $color:white;
    $color:text;
    ::selection      { color: $color; background-color: $background; cursor: $cursor; }
    ::-moz-selection { color: $color; background-color: $background; cursor: $cursor; }
  }
}

@mixin user-select($select) {
  -webkit-user-select: $select;
  -moz-user-select: $select;
  -ms-user-select: $select; // IE10+
  user-select: $select;
}

@mixin remove-active-and-focus() {
  &:active, &:focus {
    background: transparent;
  }
}

@mixin spacing {
  // 간격 조절
  $sides: ("b": "bottom", "t": "top", "l": "left", "r": "right", "": "all",  "x": "x", "y": "y");
  $size: 2;
  $units: 50;

  @each $prefix, $value in $sides {
    .m#{$prefix} {
      &-auto {
        @if $prefix == "" {
          margin: auto !important;
        } @else if $prefix == "x" {
          margin-left: auto !important;
          margin-right: auto !important;
        } @else if $prefix == "y" {
          margin-top: auto !important;
          margin-bottom: auto !important;
        } @else {
          margin-#{$value}: auto !important;
        }
      }
    }

    @for $i from 0 through $units {
      .m#{$prefix} {
        &-#{($i * $size)} {
          @if $prefix == "" {
            margin: #{($i * $size)}px !important;
          } @else if $prefix == "x" {
            margin-left: #{($i * $size)}px !important;
            margin-right: #{($i * $size)}px !important;
          } @else if $prefix == "y" {
            margin-top: #{($i * $size)}px !important;
            margin-bottom: #{($i * $size)}px !important;
          } @else {
            margin-#{$value}: #{($i * $size)}px !important;
          }
        }
      }
      .p#{$prefix} {
        &-#{($i * $size)} {
          @if $prefix == "" {
            padding: #{($i * $size)}px !important;
          } @else if $prefix == "x" {
            padding-left: #{($i * $size)}px !important;
            padding-right: #{($i * $size)}px !important;
          } @else if $prefix == "y" {
            padding-top: #{($i * $size)}px !important;
            padding-bottom: #{($i * $size)}px !important;
          } @else {
            padding-#{$value}: #{($i * $size)}px !important;
          }
        }
      }
    }
  }
}
