
$screen-xs:       480px;
$screen-sm:       768px;
$screen-md:       992px;
$screen-lg:       1140px;
$iphone:          320px;
$phone:           $screen-xs; // 480px

$grid-gutter-width:       24px;
$container-sm:            (1140px + $grid-gutter-width);
$grid-columns:            12;

//
//  # html
//
$html-overflow-y:        scroll;

$thin:                   100;
$light:                  300;
$normal:                 500;
$medi:                   700;//h7이고 medi면 500
$bold:                   700;


//
//  # Selection
//
$body-selection:         10;
$body-user-select:       none;
$div-user-select:        text;

$alert-height:          56px;
